@font-face{
    font-family: Proxima-Nova;
    src: url("../fonts/Fontspring-DEMO-proximanovacond-bold.otf");
}
@font-face{
    font-family: Proxima-Nova-light;
    src: url("../fonts/Fontspring-DEMO-proximanova-light.otf");
}
